<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a href="./index.html">
                        <img class="header-logo" src="./asserts/header-logo.svg" alt="header-logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">DIRECTORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog.html">ARTICLES & BLOGS</a>
                            </li>
                            <li class="nav-item dropdown company-dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    COMPANY
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item active" href="#">Press</a></li>
                                    <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="#">Terms & Conditions</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="join-btn" type="submit">Join as a Practitioner</button>
                            <button class="login-btn" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="practitioner-profile">
        <div class="container">
            <div class="row">
                <h1 style="text-transform: capitalize;" class="home-title mb-5">Welcome, <span
                        style="color: #ba9b8b;">Reema</span></h1>
                <div class="col-sm-12 col-lg-5"></div>
                <ul class="practitioner-profile-btns">
                    <li class="active">
                        <a href="/practitioner-profile.html">
                            My Profile
                        </a>
                    </li>
                    <li class="offering">
                        <a href="">
                            Offering
                        </a>
                        <div class="dropdown">
                            <a href="/discount.html">
                            Discount
                        </a>
                        </div>
                    </li>
                    <li>
                        <a href="/appoinement.html">
                            Appointment
                        </a>
                    </li>
                    <li>
                        <a href="/calendar.html">
                            Calendar
                        </a>
                    </li>
                    <li class="offering">
                        <a href="">
                            Accounting
                        </a>
                        <div class="dropdown">
                            <a href="/earning.html">
                            Earnings
                        </a>
                        <a href="/refund-request.html">
                            Refund request
                        </a>
                        </div>
                    </li>
                </ul>
                <p style="text-align: start;">Invalid timezoneInvalid timezoneInvalid timezoneInvalid timezoneInvalid timezoneInvalid
                    timezoneInvalid timezoneInvalid timezone</p>
                    <div class="earning-wrrpr mt-5">
                        <div class="container">
                            <div class="d-flex mb-3" style="gap: 20px;">
                                <a style="text-decoration: none;" href="/calendar.html" class="export-btn">Calendar</a>
                                <a style="text-decoration: none;" href="/add-offering.html" class="export-btn">Add Offering</a>
                            </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Detail</th>
                                                <th scope="col">BookedProduct</th>
                                                <th scope="col">Booked By</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">End Date</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Booking #9719<br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                            <tr>
                                                <td>Booking #9719<br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                            <tr>
                                                <td>Booking #9719</br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                            <tr>
                                                <td>Booking #9719<br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                            <tr>
                                                <td>Booking #9719<br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                            <tr>
                                                <td>Booking #9719<br/>
                                                    <a href="">EditUnconfirm</a>
                                                </td>
                                                <td>Test my offer</td>
                                                <td>John Doe</td>
                                                <td>March 1, 2025, 12:00 pm</td>
                                                <td>March 1, 2025, 2:00 pm</td>
                                                <td>Paid</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="positioned-dv">
            <ul>
                <li>
                    <img src="/asserts/User.svg" alt="">
                    <p>Account</p>
                </li>
                <li>
                    <img src="/asserts/grid.svg" alt="">
                    <p>Dashboard</p>
                </li>
                <li>
                    <img src="/asserts/calendar.svg" alt="">
                    <p>Calendar</p>
                </li>
                <li>
                    <img src="/asserts/Shopping List.svg" alt="">
                    <p>Bookings</p>
                </li>
                <li>
                    <img src="/asserts/Chat.svg" alt="">
                    <p>Community</p>
                </li>
                <li>
                    <img src="/asserts/business.svg" alt="">
                    <p>Business<br />
                        Referals</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- footer start -->
    <div class="footer">

        <img class="footer-butterfly" src="./asserts/footer-butterfly.svg" alt="">
        <div class="container">
            <div class="footer-list-wrrpr">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <img src="./asserts/footer-logo.svg" alt="logo">
                            <h4>Follow Us</h4>
                            <ul class="footer-social-media-icon">
                                <li><i class="fa-brands fa-youtube"></i></li>
                                <li><i class="fa-brands fa-pinterest"></i></li>
                                <li><i class="fa-brands fa-facebook-f"></i></li>
                                <li><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Company</h4>
                            <ul>
                                <li>Our Story</li>
                                <li>Our Vision</li>
                                <li>Core Values</li>
                                <li>Press Team</li>
                                <li>Articles & Blogs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="./contact.html">Contact Us</a></li>
                                <li>FAQs Join as Practitioner</li>
                                <li>Terms and Conditions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Our Registered Office</h4>
                            <ul>
                                <li>Tower of London, London EC3N 4AB, United Kingdom.</li>
                                <li>(+84) 123 567 712</li>
                                <li>abstractjewels@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="language-translator-dv">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        <p>Use of this website, content, and products are for informational purposes only.
                            TheHiraCollective does not provide medical advice, diagnosis, or treatment.</p>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <button><i class="fa-solid fa-globe"></i>English</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-botom-dv-wrrpr">
            <div class="container">
                <div class="footer-botom-dv">
                    <p>2025 - All Rights Reserved. <a href="#">www.thehiracollective.com</a></p>
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Cookie Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>

</html>