<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practitioner Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> -->
</head>

<body>


    <!-- FAQ end -->
    <!-- footer start -->
    <div class="footer">

        <img class="footer-butterfly" src="./asserts/footer-butterfly.svg" alt="">
        <div class="container">
            <div class="footer-list-wrrpr">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="footer-lists">
                            <img src="./asserts/footer-logo.svg" alt="logo">
                            <h4>Follow Us</h4>
                            <ul class="footer-social-media-icon">
                                <li><i class="fa-brands fa-youtube"></i></li>
                                <li><i class="fa-brands fa-pinterest"></i></li>
                                <li><i class="fa-brands fa-facebook-f"></i></li>
                                <li><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="footer-lists">
                            <h4>Company</h4>
                            <ul>
                                <li>Our Story</li>
                                <li>Our Vision</li>
                                <li>Core Values</li>
                                <li>Press Team</li>
                                <li>Articles & Blogs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="footer-lists">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="./contact.html">Contact Us</a></li>
                                <li>FAQs Join as Practitioner</li>
                                <li>Terms and Conditions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="footer-lists">
                            <h4>Our Registered Office</h4>
                            <ul>
                                <li>Tower of London, London EC3N 4AB, United Kingdom.</li>
                                <li>(+84) 123 567 712</li>
                                <li>abstractjewels@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="language-translator-dv">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        <p>Use of this website, content, and products are for informational purposes only.
                            TheHiraCollective does not provide medical advice, diagnosis, or treatment.</p>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <button><i class="fa-solid fa-globe"></i>English</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-botom-dv-wrrpr">
            <div class="container">
                <div class="footer-botom-dv">
                    <p>2025 - All Rights Reserved. <a href="#">www.thehiracollective.com</a></p>
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Cookie Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdownMenu");
        if (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") {
            dropdownMenu.style.display = "block";
        } else {
            dropdownMenu.style.display = "none";
        }
    }
</script>
</body>

</html>
