<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a href="./index.html">
                        <img class="header-logo" src="./asserts/header-logo.svg" alt="header-logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">DIRECTORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog.html">ARTICLES & BLOGS</a>
                            </li>
                            <li class="nav-item dropdown company-dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    COMPANY
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item active" href="#">Press</a></li>
                                    <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="#">Terms & Conditions</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="join-btn" type="submit">Join as a Practitioner</button>
                            <button class="login-btn" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="practitioner-profile">
        <div class="container">
            <div class="row">
                <h1 style="text-transform: capitalize;" class="home-title mb-5">Welcome, <span
                        style="color: #ba9b8b;">Reema</span></h1>
                <div class="col-sm-12 col-lg-5"></div>
                <ul class="practitioner-profile-btns">
                    <li class="active">
                        <a href="/my-profile.html">
                            My Profile
                        </a>
                    </li>
                    <li class="offering">
                        <a href="./offering.html">
                            Offering
                        </a>
                        <div class="dropdown">
                            <a href="/discount.html">
                                Discount
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="./appoinement.html">
                            Appointments
                        </a>
                    </li>
                    <li>
                        <a href="/calendar.html">
                            Calendar
                        </a>
                    </li>
                    <li class="offering">
                        <a href="./accounting.html">
                            Accounting
                        </a>
                    </li>
                </ul>

                <div class="add-offering-dv">
                    <div class="container">
                        <div class="mb-4 mt-4">
                            <ul class="nav nav-tabs" id="tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general"
                                        role="tab" aria-controls="general" aria-selected="true">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="availability-tab" data-bs-toggle="tab" href="#availability"
                                        role="tab" aria-controls="availability" aria-selected="false">My Payment
                                        Integration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="costs-tab" data-bs-toggle="tab" href="#costs" role="tab"
                                        aria-controls="costs" aria-selected="false">My Calendar Integration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="clint-tab" data-bs-toggle="tab" href="#client" role="tab"
                                        aria-controls="client" aria-selected="false">Client Policy</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3" id="myTabContent">
                                <!-- General Tab Content -->
                                <div class="tab-pane fade show active" id="general" role="tabpanel"
                                    aria-labelledby="general-tab">
                                    <div style="position: relative;" class="d-flex justify-content-center flex-column align-items-center">
                                    <div class="mb-4" >
                                        <p style="text-align: start;" class="text">Images</p>
                                        <input type="file" id="fileInput" class="hidden" accept="image/*"
                                            onchange="previewImage(event)" style="display: none;">
                                        <label style="border-radius: 50%;" for="fileInput" class="image-preview" id="imagePreview">
                                            <span>+</span>
                                        </label>
                                        <div class="preview-div">
                                        <img src="../../../public/assets/images/Laptop.svg" alt="">
                                        <p>preview</p>
                                    </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6 mb-3">
                                            <label for="floatingTextarea">First Name</label>
                                            <input type="text" class="form-control" id="base-cost">
                                        </div>
                                        <div class="col-sm-12 col-lg-6 mb-3">
                                            <label for="floatingTextarea">Last Name</label>
                                            <input type="text" class="form-control" id="base-cost">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="floatingTextarea">Company Name</label>
                                        <input type="text" class="form-control" id="base-cost">
                                        <p style="text-align: start;">Your shop name is public and must be unique.</p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="floatingTextarea">Short Bio</label>
                                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label for="type" class="fw-bold">Location</label>
                                       <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                                            <div id="tags-container"></div>
                                        </div>
                                    </div>
                                    <label for="type" class="fw-bold">Tags</label>
                                    <p style="text-align: start;">These are keywords used to help identify more specific
                                        versions of something. For example, a good tag for a massage could be "Deep
                                        Tissue".</p>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search or add a tag">
                                            <div id="tags-container"></div>
                                        </div>
                                        <div class="mb-4 mt-4">
                                            <label for="media" class="fw-bold">Media</label>
                                            <label class="add-media-btn" for="media-upload">
                                                <i class="fas fa-plus"></i>
                                                Add media
                                            </label>
                                            <input type="file" id="media-upload" class="hidden" accept="image/*" multiple>
                                            <div class="media-container" id="media-container">
                                                <div class="media-item">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                                <div class="media-item">
                                                    <i class="fas fa-times"></i>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="mb-3">
                                        <label for="floatingTextarea">About Me</label>
                                        <p>Maximum length of 500 words</p>
                                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                                    </div>
                                    <button class="update-btn mb-5">Add New Term</button>
                                    <div>
                                    <label for="type" class="fw-bold">I help with:</label>
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="form-group w-100">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search or add a tag">
                                            <div id="tags-container"></div>
                                        </div>
                                        <button style="width: 220px;" class="update-btn mb-2 mt-2">Add New Term</button>
                                    </div>
                                </div>
                                <div>
                                    <label for="type" class="fw-bold">How I help:</label>
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="form-group w-100">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search or add a tag">
                                            <div id="tags-container"></div>
                                        </div>
                                        <button style="width: 220px;" class="update-btn mb-2 mt-2">Add New Term</button>
                                    </div>
                                </div>
                                    <div class=" mb-4">
                                        <label for="type" class="fw-bold">Certifications</label>
                                        <div class="d-flex align-items-center">
                                        <select id="type" class="form-select">
                                            <option>Select</option>
                                        </select>
                                        <button style="width: 220px;" class="update-btn mb-2 mt-2">Add New Term</button>
                                    </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="type" class="fw-bold">Categories</label>
                                        <div class="form-group w-100">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search or add a tag">
                                            <div id="tags-container"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-sm-12 col-lg-6 mb-4">
                                        <label for="type" class="fw-bold">Endorsements</label>
                                        <select id="type" class="form-select">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-6 mb-4">
                                        <label for="type" class="fw-bold">Timezone</label>
                                        <select id="type" class="form-select">
                                            <option>Select</option>
                                        </select>
                                        <p style="text-align: start;">select your timezone</p>
                                    </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check offering-check">
                                            <input type="checkbox" class="form-check-input" id="can-be-cancelled">
                                            <label class="form-check-label" for="can-be-cancelled">Amentities</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check offering-check">
                                            <input type="checkbox" class="form-check-input" id="can-be-cancelled">
                                            <label class="form-check-label" for="can-be-cancelled">Enable opening
                                                hours</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check offering-check">
                                            <input type="checkbox" class="form-check-input" id="can-be-cancelled">
                                            <label class="form-check-label" for="can-be-cancelled">Enable notice</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check offering-check">
                                            <input type="checkbox" class="form-check-input" id="can-be-cancelled">
                                            <label class="form-check-label" for="can-be-cancelled">Enable Google
                                                Analytics</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Availability Tab Content -->
                                <div class="tab-pane fade" id="availability" role="tabpanel"
                                    aria-labelledby="availability-tab">
                                    <h4 class="stripe-text">Connect with Stripe</h4>
                                    <h5 class="stripe-label">Your account is not yet connected with Stripe.</h5>
                                    <button class="stripe-btn mt-3">Connect with stripe</button>
                                </div>

                                <!-- Costs Tab Content -->
                                <div class="tab-pane fade" id="costs" role="tabpanel" aria-labelledby="costs-tab">
                                    <div class="d-flex justify-content-end mb-4">
                                        <button class="update-btn">Google calendar setting</button>
                                    </div>
                                    <div class="calendar">
                                        <div class="controls">
                                            <select id="monthSelect">
                                                <option value="0">January</option>
                                                <option value="1">February</option>
                                                <option value="2">March</option>
                                                <option value="3">April</option>
                                                <option value="4">May</option>
                                                <option value="5">June</option>
                                                <option value="6">July</option>
                                                <option value="7">August</option>
                                                <option value="8">September</option>
                                                <option value="9">October</option>
                                                <option value="10">November</option>
                                                <option value="11">December</option>
                                            </select>
                                            <button id="resetCalendar">Reset Calendar</button>
                                        </div>
                                        <div class="calendar-grid">
                                        </div>
                                    </div>
                                    <div id="noteModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <h3>Add Note</h3>
                                            <p id="selectedDate"></p>
                                            <label for="time">Select Time:</label>
                                            <input type="time" id="time" required>
                                            <label for="note">Note:</label>
                                            <textarea id="note" rows="2" placeholder="Enter your note..."></textarea>
                                            <button id="saveNote">Save Note</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="clint-tab">
                                    <p class="mb-4 mt-4" style="text-align: start;">Please review Hira privacy policies and terms and terms & conditions for clients using Hira.</p>
                                    <div class="mb-3">
                                        <label for="floatingTextarea">Privacy Policy</label>
                                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="floatingTextarea">Terms & Condition</label>
                                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="update-btn">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="positioned-dv">
                <ul>
                    <li>
                        <img src="./asserts/grid.svg" alt="">
                        <p>Dashboard</p>
                    </li>
                    <li>
                        <img src="./asserts/User.svg" alt="">
                        <p>Account</p>
                    </li>
                    <li>
                        <img src="./asserts/Chat.svg" alt="">
                        <p>Community</p>
                    </li>
                    <li>
                        <img src="./asserts/business.svg" alt="">
                        <p>Business<br />
                            Referals</p>
                    </li>
                    
                    <li>
                        <img src="./asserts/Shopping List.svg" alt="">
                        <p>Resources Help</p>
                    </li>
                </ul>
            </div>
    </section>

    <!-- footer start -->
    <div class="footer">

        <img class="footer-butterfly" src="./asserts/footer-butterfly.svg" alt="">
        <div class="container">
            <div class="footer-list-wrrpr">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <img src="./asserts/footer-logo.svg" alt="logo">
                            <h4>Follow Us</h4>
                            <ul class="footer-social-media-icon">
                                <li><i class="fa-brands fa-youtube"></i></li>
                                <li><i class="fa-brands fa-pinterest"></i></li>
                                <li><i class="fa-brands fa-facebook-f"></i></li>
                                <li><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Company</h4>
                            <ul>
                                <li>Our Story</li>
                                <li>Our Vision</li>
                                <li>Core Values</li>
                                <li>Press Team</li>
                                <li>Articles & Blogs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="./contact.html">Contact Us</a></li>
                                <li>FAQs Join as Practitioner</li>
                                <li>Terms and Conditions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                        <div class="footer-lists">
                            <h4>Our Registered Office</h4>
                            <ul>
                                <li>Tower of London, London EC3N 4AB, United Kingdom.</li>
                                <li>(+84) 123 567 712</li>
                                <li>abstractjewels@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="language-translator-dv">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        <p>Use of this website, content, and products are for informational purposes only.
                            TheHiraCollective does not provide medical advice, diagnosis, or treatment.</p>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <button><i class="fa-solid fa-globe"></i>English</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-botom-dv-wrrpr">
            <div class="container">
                <div class="footer-botom-dv">
                    <p>2025 - All Rights Reserved. <a href="#">www.thehiracollective.com</a></p>
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Cookie Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</body>
<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('imagePreview');
            output.style.backgroundImage = `url(${reader.result})`;
            output.style.backgroundSize = 'cover';
            output.style.backgroundPosition = 'center';
            output.innerHTML = '';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const calendarGrid = document.querySelector(".calendar-grid");
        const noteModal = document.getElementById("noteModal");
        const closeModal = document.querySelector(".close");
        const selectedDateEl = document.getElementById("selectedDate");
        const timeInput = document.getElementById("time");
        const noteInput = document.getElementById("note");
        const saveNoteBtn = document.getElementById("saveNote");
        const resetBtn = document.getElementById("resetCalendar");
        const monthSelect = document.getElementById("monthSelect");
        let currentMonth = 0;
        const notes = {};

        function daysInMonth(month, year) {
            return new Date(year, month + 1, 0).getDate();
        }

        function renderCalendar(month) {
            calendarGrid.innerHTML = "";
            const days = daysInMonth(month, 2025);

            for (let i = 1; i <= days; i++) {
                const day = document.createElement("div");
                day.classList.add("day");
                day.textContent = i;
                day.setAttribute("data-day", i);

                const noteDisplay = document.createElement("div");
                noteDisplay.classList.add("note");
                day.appendChild(noteDisplay);

                day.addEventListener("click", () => openModal(month, i));
                calendarGrid.appendChild(day);

                if (notes[`${month}-${i}`]) {
                    updateNotesDisplay(month, i);
                }
            }
        }

        function openModal(month, day) {
            selectedDateEl.textContent = `Day: ${day}, ${monthSelect.options[month].text}`;
            timeInput.value = "";
            noteInput.value = "";

            noteModal.style.display = "flex";
            saveNoteBtn.onclick = () => saveNote(month, day);
        }

        function closeModalFunc() {
            noteModal.style.display = "none";
        }

        function saveNote(month, day) {
            const time = timeInput.value;
            const noteText = noteInput.value;
            const key = `${month}-${day}`;

            if (time && noteText) {
                if (!notes[key]) notes[key] = [];
                notes[key].push({ time, text: noteText });

                updateNotesDisplay(month, day);
                closeModalFunc();
            } else {
                alert("Please fill out both time and note.");
            }
        }

        function updateNotesDisplay(month, day) {
            const key = `${month}-${day}`;
            const dayCell = document.querySelector(`.day[data-day='${day}'] .note`);
            dayCell.innerHTML = "";

            notes[key].forEach((note, index) => {
                const noteEntry = document.createElement("div");
                noteEntry.classList.add("note-entry");
                noteEntry.textContent = `🕒 ${note.time} - ${note.text}`;
                if (index > 0) noteEntry.style.borderTop = "1px solid #ddd";
                dayCell.appendChild(noteEntry);
            });
        }

        function resetCalendar() {
            for (let key in notes) delete notes[key];
            renderCalendar(currentMonth);
        }

        resetBtn.addEventListener("click", resetCalendar);
        monthSelect.addEventListener("change", (e) => {
            currentMonth = parseInt(e.target.value);
            renderCalendar(currentMonth);
        });

        closeModal.addEventListener("click", closeModalFunc);
        window.addEventListener("click", (event) => {
            if (event.target == noteModal) closeModalFunc();
        });

        renderCalendar(currentMonth);
    });
</script>
<script>
    document.getElementById('exampleInputPassword1').addEventListener('keyup', function(event) {
    if (event.key === 'Enter') { // Trigger on pressing Enter key
        let input = this.value.trim(); // Get the value and trim any extra spaces
        
        if (input) {
            // Create a new tag element
            let tag = document.createElement('span');
            tag.classList.add('tag');
            tag.textContent = input; // Set the tag's text to the input value
            
            // Create a "remove" button inside the tag
            let removeButton = document.createElement('span');
            removeButton.classList.add('remove-tag');
            removeButton.textContent = 'X';

            // Append the remove button to the tag
            tag.appendChild(removeButton);

            // Add an event listener for the remove button
            removeButton.addEventListener('click', function() {
                tag.remove(); // Remove the tag from the container
            });

            // Append the tag to the container
            document.getElementById('tags-container').appendChild(tag);

            // Clear the input field after adding the tag
            this.value = '';
        }
        
        // Prevent form submission if it's inside a form
        event.preventDefault();
    }
});

</script>
<script>
    document.getElementById('media-upload').addEventListener('change', function(event) {
        const files = event.target.files;
        const mediaContainer = document.getElementById('media-container');

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function(e) {
                const mediaItem = document.createElement('div');
                mediaItem.classList.add('media-item');

                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = 'Uploaded media';

                const removeIcon = document.createElement('i');
                removeIcon.classList.add('fas', 'fa-times');
                removeIcon.addEventListener('click', function() {
                    mediaContainer.removeChild(mediaItem);
                });

                mediaItem.appendChild(img);
                mediaItem.appendChild(removeIcon);
                mediaContainer.appendChild(mediaItem);
            };

            reader.readAsDataURL(file);
        }
    });

    document.querySelectorAll('.media-item i').forEach(function(icon) {
        icon.addEventListener('click', function() {
            const mediaItem = icon.parentElement;
            mediaItem.parentElement.removeChild(mediaItem);
        });
    });
</script>

</html>